* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#nota{
    width: 30%;
}
.header {
    margin: 30px;
    place-items: center;
    display: grid;
}

.header div {
    display: grid;
    place-items: center;
    margin: 10px;
}

.main {
    display: grid;
    place-items: center;
    margin: 20px;
}
.main section{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}
.main section div{
    margin:5px;
    place-items: center;
    display: grid;
}
a{
    place-items: center;
    display: grid;
}


img {
    width: 300px;
}

body {
    background-color: #403f4c;
    color: #efbcd5;
}
footer{
    display: grid;
    place-items: end;
    margin: 10px;
}
